#container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:flex-start;
}

#album {
    display:flex;
    position: relative;
    box-sizing: border-box;
    margin: 1em;
    padding: 1em;
    max-width: fit-content;
}
a {
    text-decoration: none ;
    color: rgb(132, 126, 126);
    
}