 * {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

}

input {

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    width: 600px;
    height: 30px;
    margin: 15px;
    
}

#signup-btn {
    box-sizing: content-box;
    position: relative;
    left: 48em;
    bottom: 5em;
    background-color:white;
    margin-top: 1em;
    height: 3em;
   
    /* max-width: 50px; */
}

#deleted {
    position: relative;
    font-size: large;
    top: 4em;
    left: 15em;

}