 * {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

}

input {

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    width: 600px;
    height: 30px;
    margin: 15px;
    
}

button {
    box-sizing: content-box;
    background-color: rgb(230, 226, 219);
    color:#5b5757 ;
    margin-top: 20px;
    height: 50px;
    max-width: 50px;
}