.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:flex-start;
    
}

#audio {
    display:flex;
    position: relative;
    box-sizing: border-box;
    margin: 1em;
    padding: 6em;
    max-width: 70%;
    left:6em;
   
    
}

#main-song {

    position:absolute; 
    top: 0px; left: 
    0px; 
    z-index: 1;
    max-width:10em;
    max-height:13em;
    padding-top: 1em;
    transition: all 0.5s ease-out;


}

/* #main-song:hover {
    box-shadow: 6px 6px 2px 1px rgba(103, 103, 111, 0.2);
} */

img {
    width: 100%;
}

#play-btn {
    position:absolute; 
    top: 4em; 
    left: 4em; 
    z-index: 3;
    object-fit:contain;
    box-sizing: border-box;
    max-height: 3em;
    max-width: 3em;
    filter: grayscale(100%);
    transition: all 0.5s ease-out;
}

#play-btn:hover{
  filter: grayscale(0%);
    
}

#song-title {
    position:absolute; 
    top: 11.3em; left: 
    0px; 
    z-index: 4;
    text-decoration: none;
    color:rgb(154, 150, 150);
    font-size: medium;
}