#form {
    position:relative;
}

#new-song-btn {
    vertical-align: top;
    background-color: white;
    width: 15em;
    position: absolute;
    bottom: 31em;
    left: 31.5em;
    
   
}
#edit-song-btn {
    vertical-align: top;
    background-color: white;
    width: 15em;
    position: absolute;
    bottom: 26em;
    left: 31.5em;
}
h1 {
    max-width: 10em;
    margin-top: 1em;
    margin-right:0;
}

#errors {
    color:red;
}

textarea {
    box-sizing: border-box;
    width: 45.8em;
    position:relative;
    left: 1em;
    top:3em;
}
#albums-selector {
    display: flex;
    flex-direction: row;

}
 #single-album {
    box-sizing: border-box;
    width: 8em;
    align-items: center;

 }

 #album-conteiner {
    box-sizing: border-box;
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    max-width: 40em;
 }
#album-conteiner-title{
    box-sizing: border-box;
    width: 35em;
    color: gray;
}

#album-select {
    box-sizing: border-box;
    width: 95%;
    margin-left:2%;
    margin-top:3%;
    height: 3em;
    color: gray;
}

 