 * {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

}

input {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: content-box;
    width: 600px;
    height: 30px;
    margin: 15px;
    
}



#header {
    display: flex;
    flex-direction: row;
}

#login-btn {
    background-color: rgba(35, 92, 225, 0.914);
    position: relative;
    height: 4em;
    left: 38.3em;
    width: 8em;

}

#form {
    position:relative;
    left: 10em;

}