 * {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

}

input {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: content-box;
    width: 600px;
    height: 30px;
    margin: 15px;
    
}

button {
    box-sizing: content-box;
    background-color: orange;
    margin: 5px;
    height: 15px;
}

#header {
    display: flex;
    flex-direction: row;
}