* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    list-style: none;
    
}
#wrapper{
    max-width: 100%;
    max-height: 100%;
    margin-top: -1.4em;
    
}
#logo {
    max-width:25%;
    
}
#header {
    
    display: flex;
    flex-direction: row;
    align-items: left;
    background-color: #5b5757;
    box-sizing: bordered-box;
    width: 100%;
    height: 60px;
    
    
    
}

.header-img {
    margin-top: -1em;
    max-width: 100%;
    max-height: auto;
    background-repeat:repeat-x;
}
#up-image {

    max-width: 100%;
    
}

#navBar {

    color: #CCCCCC;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing:bordered-box;
    margin-right: 1em;
    border-left: 0.15em solid black;
    height: 100%;
    text-decoration: none;
    padding-left: 1em;
    
 

}
#profile-btn{
     
     background-color: #5b5757;
     box-sizing: border-box;
     max-width: 2em;
     max-height: 2em;
     position:relative;
     left: 64em;

}
.profile-dropdown {
    color:white;
    box-sizing: border-box;
    background-color: #5b5757;
    width: 16em;
    height: 16em;
    border: 2px solid black;
    z-index: 10;
    position: relative;
    left: 35em;
}



.fa-bars {
    background-color: aliceblue;
    
}

#Demo-user {
    margin-top: 0.2em;
    background-color: #5b5757;
    color: whitesmoke
}



